@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <div class="page">
                <div style="text-align: center; padding: 50px;">
                    <h1 style="color: #14275A;">404 - الصفحة غير موجودة</h1>
                    <p style="color: #858796;">عذراً، الصفحة التي تبحث عنها غير موجودة.</p>
                    <a href="/" class="btn btn-primary">العودة إلى الصفحة الرئيسية</a>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
